.Section-main4-div1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.Section-main4-div1 h1{
font-size: 50px;
color: transparent;
background: linear-gradient(90deg,#90e0ef,#0077b6,blue,#0077b6,#90e0ef);
background-clip: text;
background-size: 500%;
animation: ani1 5s linear infinite;
}
.Section-main4-div1 nav{
    height: 1.2cm ;
    width: 9cm;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 1px solid blue;
    border-radius: 30px;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 255, 0.13);

}


.All{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1cm;
    width: 2.5cm;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    background: none;
}
.All span{
    position: absolute;
    height: 1cm;
    width: 2.28cm;
    padding-top: 22px;
    z-index: 2;
}
.All #Sm4-background-All{
    background: linear-gradient(90deg,blue,#0077b6,#90e0ef);
    height: 1cm;
    width: 100%;
    border-radius: 20px;
    position: relative;
    padding-top: 0px;
}
.Apps{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1cm;
    width: 2.5cm;
    border: none;
    color: white;
    background: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    z-index: 1;
}
.Apps span{
    position: absolute;
    height: 1cm;
    width: 2.28cm;
    padding-top: 22px;
    z-index: 2;
}
.Apps #Sm4-background-Apps{
    height: 1cm;
    width: 100%;
    border-radius: 20px;
    position: relative;
    padding-top: 0px;
}
.Webs{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1cm;
    width: 2.5cm;
    border: none;
    background: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    z-index: 1;
}
.Webs span{
position: absolute;
height: 1cm;
width: 2.3cm;
padding-top: 22px;
z-index: 2;
}
.Webs #Sm4-background-Webs{
    height: 1cm;
    width: 100%;
    border-radius: 20px;
    position: relative;
    padding-top: 0px;
}
.UX-UI{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1cm;
    width: 2.5cm;
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
    z-index: 1;
    
} 

.UX-UI span{
position: absolute;
height: 1cm;
width: 2.30cm;
z-index: 2;
padding-top: 22px;
}
.UX-UI #Sm4-background-UX_UI{
    height: 1cm;
    width: 100%;
    border-radius: 20px;
    position: relative;
    padding-top: 0px;
}